#curtain, #curtain * {
	position:fixed;
/*	height:100%;width:auto;	*/
	display:block;
	/*background:url('../img/bgmosh.png');*/
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	z-index: -999;
}